/* Common */

ol,
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 120px 0;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* Header */

.page-header-title {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.first-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu,
.contact-block {
  display: none;
}

.page-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
  display: block;
}
@media screen and (min-width: 768) {
  .page-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
  }
}
.page-logo-first-part {
  font-family: 'Raleway', 'sans-serif';
  text-transform: uppercase;
  color: #2e2f42;
}
.menu-mobile-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}
.menu-mobile-btn-img {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .menu-mobile-btn {
    display: none;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .menu-item {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .menu-link {
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .menu-link.current {
    position: relative;
  }
  .current::after {
    content: '';
    position: absolute;
    background-color: #404bbf;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    left: 0;
    bottom: -1px;
  }
  .contact-block {
    display: block;
    font-style: normal;
  }
  .contact-block-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contact-block-link:hover,
  .contact-block-link:focus {
    color: #404bbf;
  }
  .contact-block-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 1158px) {
    .header-logo {
      margin-right: 76px;
    }
    .contact-block-menu {
      flex-direction: row;
      align-items: center;
      gap: 40px;
    }
    .contact-block-link {
      font-size: 16px;
      padding: 24px 0;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }
  }
}

/* Menu mobile */

.mobile-menu {
  background-color: #ffffff;
  position: fixed;
  z-index: 999999;
  color: #2e2f42;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.container-mobile-menu {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  line-height: 0;
  padding: 0;
  border: 2px solid #e7e9fc;
  fill: #2e2f42;
  border-radius: 100%;
  width: 24px;
  height: 24px;
}
.menu-mobile-nav {
  margin-bottom: auto;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-link:hover,
.mobile-link:focus {
  color: #404bbf;
}
.mobile-contacts {
  margin-bottom: 48px;
}
.contact-mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact-mobile-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-mobile-link:focus,
.contact-mobile-link:hover {
  color: #404bbf;
}

.icon-list-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.item-icon-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-icon-mobile:hover,
.item-icon-mobile:focus {
  background-color: #404bbf;
}
.item-icon-mobile {
}
.icon-link-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-icon {
  fill: #f4f4fd;
}
/* Hero section */

.main-section {
  margin: 0 auto;
  max-width: 320px;
  background-color: #2e2f42;
  padding: 72px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/hero-img/mobile-hero.png);
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/hero-img/mobile-hero@2.png);
  }
}
@media screen and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/hero-img/tablet-hero.png);
  }
}

@media screen and (max-width: 1157px) and (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/hero-img/tablet-hero@2.png);
  }
}
@media screen and (min-width: 1158px) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/hero-img/desktop-hero.png);
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/hero-img/desktop-hero@2.png);
  }
}
.main-page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.button {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .main-section {
    padding: 112px 0;
    max-width: 768px;
  }
  .main-page-title {
    font-size: 56px;
    width: 496px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .main-section {
    padding: 188px 0;
    max-width: 1440px;
  }
  .main-page-title {
    font-size: 56px;
    margin-bottom: 48px;
  }
}
/* Our benefits section */
.benefits-section {
  padding: 96px 0;
}
.benefits-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.benefits-menu-item {
  width: 100%;
}
.benefits-icon {
  display: none;
}
.benefits-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.benefits-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .benefits-menu-item {
    width: calc((100% - 72px) / 2);
  }
  .benefits-name {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-section {
    padding: 120px 0;
  }
  .benefits-menu {
    display: flex;
    gap: 24px;
  }
  .benefits-menu-item {
    width: calc((100% - 72px) / 4);
    margin-left: auto;
    margin-right: auto;
  }
  .benefits-icon {
    display: flex;
    margin: 24px auto;
  }
  .icon-wrap {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .benefits-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .benefits-description {
    font-weight: 400;
  }
}
/* Our Team section */
.our-team-section {
  background-color: #f4f4fd;
  width: 100%;
  margin: 0 auto;
  padding: 96px 28px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-team-menu {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}
.our-team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}
.team-icon {
  fill: #f4f4fd;
}

.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-member-profession {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.team-descr {
  padding: 32px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .our-team-section {
    padding: 96px 108px;
    max-width: 768px;
  }
  .our-team-menu {
    gap: 24px;
    row-gap: 64px;
  }
  .our-team-item {
    width: calc(50% - 24px);
  }
}
